body {
    background: rgb(255, 255, 255);
    background-size: 400% 400%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page--section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* Prevents scrolling */
}



#clock--box {
    height: 98.5vh;
    width: 98.5vw;
    background: rgb(236, 236, 236);
    border-radius: 50%;
    display: flex;
    position: relative;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

#hour_hand,
#min_hand,
#sec_hand,
#hour_backhand,
#hour_forwardhand {
    display: flex;
    position: absolute;
    background-color: rgb(0, 0, 0);
    transform-origin: bottom;
    z-index: 1;
    height: 38%;
    width: 1px;
    left: 50.05%;
    top: 12%;
}

.hour_dot {
    background-color: white; 
    height: 4vmax;
    width: 4vmax;
    border-radius: 50%;
    position: absolute;
    top: 0vmax;
    left: -2vmax;
    z-index: 1000;
    transition: background-color 0.1s ease; 
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.min_dot {
    background-color: rgb(255, 255, 255);
    height: 2vmax;
    width: 2vmax;
    border-radius: 50%;
    display: block;
    opacity: 1;
    position: absolute;
    top: 0vmax;
    left: -1vmax;
    z-index: 3;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.sec_dot {
    background-color: rgb(255, 255, 255);
    height: 1vmax;
    width: 1vmax;
    left: 50%;
    top: 20%;
    border-radius: 50%;
    display: block;
    opacity: 1;
    position: absolute;
    top: 0vmax;
    left: -0.5vmax;
    z-index: 50;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.back_hour_dot, .forward_hour_dot {
    background-color: white; 
    height: 4vmax;
    width: 4vmax;
    border-radius: 50%;
    position: absolute;
    top: 0vmax;
    left: -2vmax;
    z-index: 1000;
    transition: background-color 0.01s ease;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.dot_label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: .85rem;
    position: absolute;
    text-align: center;
    transform: rotate(-90deg);
    padding: 8px;
    border-radius: 10px;
    top: 8vmax;
    left: -23px;
    background-color: rgb(255, 255, 255);
    z-index: 100000;
        border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.hour-line {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1); 
    height: 1px; 
    width: 100%;
    left: 0;
    transform-origin: center;
    z-index: 0;
}

.lines_container {
    display: flex;
    position: fixed;
    width: 200px;
    height: 200px;
}

.line {
    display: flex;
    position: fixed;
    width: 1px;
    height: 1000px;
    border-left: 2px dotted rgb(255, 255, 255); /* Dotted red line */
    top: 50%;
    left: 50%;
    transform-origin: center top;
}

.line_label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: .85rem;
    position: absolute;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    top: 43vh;
    left: -25px;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

#message-btn {
    background-color: rgb(197, 232, 255);
    color: #333;
}

#message-btn:hover {
    box-shadow: 0 0px 25px rgb(0, 162, 255);
}

.message-popup {
    position: fixed;
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 255, 118);
    padding: 5px 25px;
    border-radius: 50px;
    border: 1px solid black;
    z-index: 100002;
    font-family: Helvetica, Arial, sans-serif;
        color: #333;
}

/* Existing call buttons styling */
.call-buttons {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100001;
}

.call-btn {
    padding: 5px 15px;
    border-radius: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#call-kevin-btn {
    background-color: rgb(254, 222, 222);
    color: #333;
}

#call-erin-btn {
    background-color: rgb(245, 255, 182);
    color: #333;
}

#call-kevin-btn:disabled {
    background-color: #e0e0e0; 
    color: #888;
    opacity: 1;
    cursor: not-allowed;
    box-shadow: none;
}

#call-erin-btn:disabled {
    background-color: #e0e0e0; 
    color: #888;
    opacity: 1;
    cursor: not-allowed;
    box-shadow: none;
}

.call-btn:enabled:hover {
    box-shadow: 0 0px 25px rgb(0, 255, 38);
}

.call-btn:enabled:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.call-btn:disabled {
    opacity: 1;
    background-color: white;
    cursor: not-allowed;
    box-shadow: 0 0px 25px rgb(255, 0, 0);
}

/* Status indicator */
.call-btn::after {
    content: "Unavailable";
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin-left: 100px;
    color: #ff000089;
}

.call-btn:enabled::after {
    content: "Available";
    color: #2a2;
}



@media (max-width: 858px) {
    #hour_hand,
    #min_hand,
    #sec_hand,
    #hour_backhand,
    #hour_forwardhand {
    display: flex;
    position: absolute;
    background-color: rgb(0, 0, 0);
    transform-origin: bottom;
    z-index: 1;
    height: 30%;
    width: 1px;
    left: 50.1%;
    top: 20%;
}

html, body {
    overflow: hidden;
  }
  body {
    position: relative;
  }

.call-btn::after {
    content: "Unavailable";
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin-left: 60px;
    color: #ff000089;
}


.line_label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: .75rem;
    position: absolute;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    top: 37vh;
    left: -25px;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
}
}


@media (max-width: 750px) {
    #hour_hand,
    #min_hand,
    #sec_hand,
    #hour_backhand,
    #hour_forwardhand {
    display: flex;
    position: absolute;
    background-color: rgb(0, 0, 0);
    transform-origin: bottom;
    z-index: 1;
    height: 26%;
    width: 1px;
    left: 50.1%;
    top: 24%;
}
.line_label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: .75rem;
    position: absolute;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    top: 30vh;
    left: -25px;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
}



.message-popup {
    display: flex;
    flex-direction: column;
    z-index: 100001;
    text-align: center;
    padding: 5px 25px;
    color: #333;
}
}

@media (max-width: 600px) {
    #hour_hand,
    #min_hand,
    #sec_hand,
    #hour_backhand,
    #hour_forwardhand {
    display: flex;
    position: absolute;
    background-color: rgb(0, 0, 0);
    transform-origin: bottom;
    z-index: 1;
    height: 20%;
    width: 1px;
    left: 50.1%;
    top: 30%;
}

.call-btn,
.message-popup {
    font-size: .75rem;
}
.call-btn::after {
    content: "Unavailable";
    font-family: Helvetica, Arial, sans-serif;
    font-size: .75rem;
    font-weight: normal;
    margin-left: 20px;
    color: #ff000089;
}
/* .message-popup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    align-items: center;
    background-color: rgb(218, 255, 118);
    padding: 5px;
    border-radius: 50px;
    border: 1px solid black;
    z-index: 100002;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    text-align: center;
} */

.call-buttons {
    position: fixed;
    /* top: 73px;
    right: 50%;
    transform: translateX(50%); */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
    z-index: 100001;
}

#clock--box {
    height: 82vh;
}



.line_label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: .75rem;
    position: absolute;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    top: 24vh;
    left: -25px;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
}
.dot_label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: .75rem;
    position: absolute;
    text-align: center;
    transform: rotate(-90deg);
    padding: 5px;
    border-radius: 5px;
    top: 7vmax;
    left: -17px;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
}
}

@media (max-width: 480px) {
    #hour_hand,
    #min_hand,
    #sec_hand,
    #hour_backhand,
    #hour_forwardhand {
    display: flex;
    position: absolute;
    background-color: rgb(0, 0, 0);
    transform-origin: bottom;
    z-index: 1;
    height: 16%;
    width: 1px;
    left: 50.1%;
    top: 34%;
}
.line_label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: .65rem;
    position: absolute;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    top: 18vh;
    left: -16px;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
}
.dot_label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: .65rem;
    position: absolute;
    text-align: center;
    transform: rotate(-90deg);
    padding: 5px;
    border-radius: 5px;
    top: 6vmax;
    left: -16px;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
}



}